.footer {
  background-color: var(--backgraund-first-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrapper {
  display: flex;
  align-items: baseline;
}

.footer__left-wrap {
  margin-right: 70px;
}

.footer__logo {
  color: var(--white-color);

  margin-bottom: 20px;
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.15;
  color: var(--second-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact-link.adress {
  color: var(--white-color);
}

.footer__contact-link:hover,
.footer__contact-link:focus {
  color: var(--accent-color);
}

.footer__cosial-items {
  display: flex;
}
.footer__cosial-item:not(:last-child) {
  margin-right: 10px;
}

.footer__cosial-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white-color);

  margin-bottom: 20px;
}

.footer__cosial-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-icon {
  fill: currentColor;
}

.footer__cosial-link:hover,
.footer__cosial-link:focus {
  background-color: var(--accent-color);
}

.footer__sent-wrap {
  margin-left: auto;
}

.modal__sent-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px;
  margin-right: 12px;

  color: var(--white-color);
}

.modal__sent-input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn {
  position: relative;

  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.subscribe__icon {
  position: absolute;
  left: 148px;
  top: 13px;
}
