.header {
  border-bottom: 1px solid #ececec;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  @include font(700, 26px, 31px, null);

  color: var(--main-text-color);

  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu__link {
  position: relative;

  @include font(700, 14px, 16px, 0.02em);

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.accent {
  color: var(--accent-color);
}

.nav-menu__link.current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact__item {
  color: currentColor;

  &:not(:first-child) {
    margin-left: 50px;
  }
}

.header-contact__link {
  position: relative;

  @include font(500, 14px, 16px, 0.02em);

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
