.team {
  background-color: var(--background-second-color);
}

.team__items {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.team__item {
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc((100% - 120px) / 4);
}

.team__item-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 10px;
}

.team__item-descr {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color);

  margin-bottom: 16px;
}

.team__social-items {
  display: flex;
  justify-content: center;
}

.team__social-item:not(:last-child) {
  margin-right: 10px;
}

.team__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
  fill: currentColor;
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team__social-icon {
  fill: currentColor;
}
