@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: ($lh / $fs);
  letter-spacing: $ls;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
